services:
  tailscale-jellyfin:
    image: tailscale/tailscale:latest
    container_name: tailscale-jellyfin
    hostname: jellyfin    
    environment:
      - TS_AUTHKEY=tskey-auth-kTEPi6r9vR11CNTRL-5sJnsSyeXn1ZoJoy25eLn1d68KvyitaCg
      - "TS_EXTRA_ARGS=--advertise-tags=tag:container-jellyfin --reset"
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_SERVE_CONFIG=/config/serve-config.json
      - TS_USERSPACE=false
    volumes:
      - /home/mertensf/docker/jellyfin/tailscale/state:/var/lib/tailscale
      - /home/mertensf/docker/jellyfin/tailscale/serveconfig:/config
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    restart: unless-stopped

  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    # Optional - specify the uid and gid you would like Jellyfin to use instead of root
    user: 1000:1000
    network_mode: "service:tailscale-jellyfin"
    depends_on:
      - tailscale-jellyfin
    # ports:
      # - 8096:8096/tcp
      # - 7359:7359/udp
    volumes:
      - /home/mertensf/docker/jellyfin/jellyfin-config:/config
      - /home/mertensf/docker/jellyfin/jellyfin-cache:/cache
      - /home/mertensf/data/jellyfin-media:/media
    restart: 'unless-stopped'
    # Optional - alternative address used for autodiscovery
    environment:
      - TZ=Europe/Berlin
      - JELLYFIN_PublishedServerUrl=http://example.com
      - /dev/dri:/dev/dri

volumes: # If you want to store the data on a different drive, see https://github.com/nextcloud/all-in-one#how-to-store-the-filesinstallation-on-a-separate->
  jellyfin:
    name: jellyfin # This line is not allowed to be changed as otherwise the built-in backup solution will not work
