services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    # Optional - specify the uid and gid you would like Jellyfin to use instead of root
    user: 1000:1000
    ports:
      # - 8096:8096/tcp
      # - 7359:7359/udp
    volumes:
      - /home/mertensf/docker/jellyfin/jellyfin-config:/config
      - /home/mertensf/docker/jellyfin/jellyfin-cache:/cache
      - ${DATA_LOCATION}:/media
    restart: 'unless-stopped'
    # Optional - alternative address used for autodiscovery
    environment:
      - TZ=${TIMEZONE}
      - JELLYFIN_PublishedServerUrl=http://example.com
      - /dev/dri:/dev/dri

volumes: # If you want to store the data on a different drive, see https://github.com/nextcloud/all-in-one#how-to-store-the-filesinstallation-on-a-separate->
  jellyfin:
    name: jellyfin # This line is not allowed to be changed as otherwise the built-in backup solution will not work
